.App {
  text-align: center;
}

body {
  color: rgba(0, 0, 0, .87)
}

.App-link {
  color: #61dafb;
}

.content {
  width: 100%;
}

.mainContent p, tr td p {
  font-size: 12px;
}

.mainContent a, .content td a {
  text-decoration: none;
  color: #1976d2;
  font-size: 12px;
}

.content td.attribute{
  padding-top: 13px;
  vertical-align: top;
  text-transform: capitalize;
}
