.App {
  text-align: center;
}

body {
  color: rgba(0, 0, 0, .87)
}

.App-link {
  color: #61dafb;
}

.content {
  width: 100%;
}

.mainContent a, .content td a {
  text-decoration: none;
  color: #1976d2;
}

.content td.attribute{
  padding-top: 13px;
  vertical-align: top;
  text-transform: capitalize;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 5px;
}

